.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #f00;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  height: 3px;
  width: 25px;
  background-color: #333;
  margin: 5px 0;
}

@media (max-width: 430px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-links.open {
    transform: translateY(0%);
  }

  .nav-links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}


/* hero section */

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #495E57;
}

.hero-content {
  flex: 1;
  padding-right: 50px;
}

.hero-content .main-heading {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F4CE14;
}

.hero-content .sub-heading {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content .hero-text {
  font-size: 18px;
  width: 50vh;
  margin-bottom: 20px;
  color: #fff;
}

.reserve-btn {
  background-color: #F4CE14;
  color: black;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 40px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reserve-btn:hover {
  background-color: rgb(225, 161, 0);
}

.hero-image {
  flex: 1;
}

.hero-image img {
  max-width: 80%;
  width: 0vw;
  height: 20em;
  object-fit: cover;
  border-radius: 16px;
  
}


/* footer  */



footer {
  background-color: #f2f2f2;
  padding: 20px;
  grid-template-rows: 1fr auto;
  color: #495E57;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.column {
  flex-basis: 25%;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #666;
  text-decoration: none;
}

.logo {
  flex-basis: 25%;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.footer-logo {
  padding-top: 20px;
}

